:root {
    --main-bg-color: #fff;
    --sub-bg-color: #000;
    --sub-text-color: #fff;
    --inactive: rgb(161, 161, 161);
    --accent-color: red;
    --checkbox-color: #6699ff;

    --main-text-color: #000;

    
    --first-brand-color: #086a5f;
    --second-brand-color: #d1e0a3;
    --third-brand-color: #add384;

    --main-font: 'Roboto Condensed';
    --title-font: 'Montserrat Bold';
    
    font-size: 62.5%;
}